<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="SQLConnr" value="Server=ZHENGJL\JIANLEZ;Database=DoubleBalls;Trusted_Connection=True;" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="DoubleColor.Redballs.Service.DCBService">
        <endpoint address="" behaviorConfiguration="DoubleColor.Redballs.Service.DCBServiceAspNetAjaxBehavior"
            binding="webHttpBinding" contract="DoubleColor.Redballs.Service.DCBService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DoubleColor.Redballs.Service.DCBServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>